@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

:host {
    display: block;
}
.stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 12px 14px;
    justify-content: center;

    &.delegator {
        grid-template-columns: 1fr auto;
    }

    @include media-breakpoint-only(xs) {
        grid-template-columns: 1fr 1fr;
        row-gap: 28px;

        &.delegator {
            grid-template-columns: 1fr;
        }

        .stats-action {
            grid-column: span 2;
        }
    }
}

.stats-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.stats-item-value {
    font-size: 22px;
    font-weight: 500;
}

.ranking-star {
    top: -2px;
    position: relative;
}
