.amount {
    ::ng-deep .mat-form-field-flex {
        padding: 0.5em;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Works for Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}
