@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

div.dns-bridge::ng-deep {
    .mat-step-icon-content svg {
        margin-top: 4px;
    }

    .mat-step-header:hover {
        cursor: auto;
    }
}

td-copy-to-clipboard {
    display: inline-block;
}

.copy-txt-address {
    white-space: nowrap;
}

.description {
    max-width: 40%;
}

.action {
    max-width: 60%;
    flex: 1 1 100%;
}

@include media-breakpoint-down(sm) {
    .description {
        max-width: inherit;
    }

    .action {
        max-width: inherit;
    }
}
