@import 'theming';

@mixin title-theme($theme) {
    $config: mat-get-color-config($theme);
    $accent: map-get($config, accent);

    .dashboard-title {
        h1 {
            .ng-fa-icon {
                color: mat-color($accent);
            }
        }
    }
}
