.alert {
    padding: 16px;
    margin: 24px 0px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 500;
    }

    > * {
        margin: 8px 16px;
    }

    &.small {
        border-left-width: 4px !important;
        div {
            min-height: auto !important;
        }
    }
}
