@import 'theming';

@mixin alert-theme($theme) {
    $config: mat-get-color-config($theme);
    $error: map-get($config, error);
    $warning: map-get($config, warning);
    $success: map-get($config, success);
    $info: map-get($config, info);

    .alert {
        &.danger {
            border-left: 8px solid mat-color($error);
            background-color: mat-color($error, default, 0.05);

            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            .alert-icon {
                color: mat-color($error);
            }
        }

        &.warning {
            border-left: 8px solid mat-color($warning);
            background-color: mat-color($warning, default, 0.1);

            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            .alert-icon {
                color: mat-color($warning);
            }
        }

        &.info {
            border-left: 8px solid mat-color($info);
            background-color: mat-color($info, default, 0.05);

            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            .alert-icon {
                color: mat-color($info);
            }
        }

        &.success {
            border-left: 8px solid mat-color($success);
            background-color: mat-color($success, default, 0.05);

            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            .alert-icon {
                color: mat-color($success);
            }
        }
    }
}
