.mat-flat-button,
.mat-stroked-button,
.mat-menu-item,
.menu-item,
.mat-list-item {
    .ng-fa-icon {
        margin-right: 0.5rem;
    }
}

a.mat-menu-item:hover {
    color: currentColor;
}

.mat-icon-button {
    display: flex;
    align-items: center;
    justify-content: center;

    &.big .mat-button-wrapper {
        height: 30px;
        display: block;
    }

    &.lg .mat-button-wrapper {
        height: 40px;
        display: block;
    }
}

fa-icon.clear-button {
    margin-left: 0.5rem !important;
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
    cursor: pointer;
}