@import 'theming';

@mixin button-theme($theme) {
    $config: mat-get-color-config($theme);
    $primary: map-get($config, primary);

    .mat-stroked-button.highlighted-stroked {
        border-color: mat-color($primary);
    }
}
