@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

button.dialog-close {
    margin-right: -0.75rem;
}

.cdk-overlay-pane.big-dialog-pane {
    .mat-dialog-content {
        max-height: max-content;
    }

    @include media-breakpoint-only(xs) {
        width: 100% !important;
        height: 100% !important;

        .mat-dialog-container {
            border-radius: 0;

            .mat-dialog-content {
                max-height: 100%;
            }
        }
    }
}
