@import 'theming';

@mixin expansion-panel-theme($theme) {
    $config: mat-get-color-config($theme);
    $foreground: map-get($config, foreground);

    .flat-expansion-panel {
        border: 1px solid mat-color($foreground, divider);
    }
}
