@import 'theming';

@mixin form-theme($theme) {
    $config: mat-get-color-config($theme);
    $foreground: map-get($config, foreground);
    $background: map-get($config, background);

    .mat-form-field.permanently-disabled {
        .mat-form-field-outline {
            color: mat-color($foreground, divider, 0.12);
        }

        input {
            color: currentColor;
        }
    }
}
