@import 'theming';

@mixin message-theme($theme) {
    $config: mat-get-color-config($theme);
    $error: map-get($config, error);
    $success: map-get($config, success);

    .message {
        &.danger {
            background-color: mat-color($error, default, 0.1);

            .message_title {
                color: mat-color($error);
            }
        }

        &.success {
            background-color: mat-color($success, default, 0.1);

            .message_title {
                color: mat-color($success);
            }
        }
    }
}
