@import 'theming';

@mixin scrollbar-theme($theme) {
    $config: mat-get-color-config($theme);
    $foreground: map-get($config, foreground);
    $background: map-get($config, background);

    ::-webkit-scrollbar-thumb {
        background-color: mat-color($background, scrollbar);
    }
}
