@import 'theming';

@mixin stepper-theme($theme) {
    $config: mat-get-color-config($theme);
    $background: map-get($config, background);
    $foreground: map-get($config, foreground);
    $accent: map-get($config, accent);

    div.stepper {
        .mat-step-header .mat-step-icon-selected,
        .mat-step-header .mat-step-icon-state-done,
        .mat-step-header .mat-step-icon-state-edit {
            background-color: mat-color($accent);
        }

        .mat-step-header:hover {
            background-color: mat-color($background, card);
        }
    }

    div.transparent-stepper {
        .mat-stepper-horizontal {
            background: transparent;
        }
    }
}

@mixin stepper-theme-dark($theme) {
    $config: mat-get-color-config($theme);
    $background: map-get($config, background);
    $foreground: map-get($config, foreground);
    $accent: map-get($config, accent);

    div.stepper {
        .mat-step-header .mat-step-icon-selected,
        .mat-step-header .mat-step-icon-state-done,
        .mat-step-header .mat-step-icon-state-edit {
            background-color: mat-color($accent, darker);
            color: mat-color($foreground, text);
        }

        .mat-step-header .mat-step-icon:not(.mat-step-icon-selected):not(.mat-step-icon-done):not(.mat-step-icon-edit) {
            color: mat-color($accent, default-contrast);
        }

        .mat-step-header:hover {
            background-color: mat-color($background, card);
        }
    }

    div.transparent-stepper {
        .mat-stepper-horizontal {
            background: transparent;
        }
    }
}
