@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

.smooth-shadow .mat-table,
.smooth-shadow.mat-table {
    .mat-row:last-child {
        border-bottom-width: 0;
    }
}

.card .full-card-width .error {
    margin: 0 1rem;
}

.table-container {
    overflow-x: auto;
    border-radius: 0.5rem;
}

.table-filter {
    margin-bottom: 1rem;

    .mat-form-field {
        width: 250px;

        &.mat-form-field-type-mat-date-range-input {
            width: 300px;
        }

        .mat-form-field-infix {
            border-top: 0;
        }

        .mat-form-field-flex {
            padding-top: 0;
        }

        @include media-breakpoint-up(md) {
            .mat-form-field-wrapper {
                margin-bottom: -1.34375em;
            }
        }
    }

    .mat-button-toggle-group {
        @include media-breakpoint-only(xs) {
            width: 100%;
        }

        .mat-button-toggle {
            height: 30px;

            .mat-button-toggle-label-content {
                line-height: 30px;
            }
        }

        .mat-button-toggle-checked {
            .mat-button-toggle-focus-overlay {
                border: 0;
            }
        }
    }
}
