@import 'theming';

@mixin table-theme($theme) {
    $config: mat-get-color-config($theme);
    $background: map-get($config, background);
    $foreground: map-get($config, foreground);
    $accent: map-get($config, accent);

    .table-container .mat-table {
        .mat-row:hover {
            background-color: mat-color($background, hover);
        }

        a.txt-secondary:hover {
            color: mat-color($foreground, secondary-text);
        }
    }

    .empty-message {
        background: mat-color($background, card);
    }

    .table-filter {
        .mat-button-toggle-group {
            .mat-button-toggle-checked {
                background-color: mat-color($accent);
                color: mat-color($accent, default-contrast);
            }
        }
    }
}
