@import 'theming';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

.toast-message a {
    text-decoration: underline;
}

.toast-container.td-toast-position {
    top: 80px;
    right: 12px;

    @include media-breakpoint-down(xl) {
        bottom: 12px;
        right: 12px;
        top: auto;
    }
}
