@import 'theming';

@mixin toast-theme($theme) {
    $config: mat-get-color-config($theme);
    $foreground: map-get($config, foreground);
    $success: map-get($config, success);
    $error: map-get($config, error);

    .toast-container {
        .toast-success {
            background-color: mat-color($success);
        }

        .toast-error {
            background-color: mat-color($error);
        }
    }
}
