@import 'theming';

@mixin tooltip-theme($theme) {
    $config: mat-get-color-config($theme);
    $foreground: map-get($config, foreground);

    .mat-tooltip-trigger:not(.no-underline) {
        background-image: linear-gradient(to right, mat-color($foreground, text) 33%, rgba(255, 255, 255, 0) 0%);
        background-position: bottom;
        background-size: 3px 1px;
        background-repeat: repeat-x;
    }
}
