@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

.description {
    flex: 0 0 150px;
}

@include media-breakpoint-down(sm) {
    .description {
        flex: auto;
    }
}
