@import 'theming';

@mixin delegate-board-theme($theme) {
    $config: mat-get-color-config($theme);
    $foreground: map-get($config, foreground);

    .delegate-list a:not(.governance-url) {
        color: mat-color($foreground, text) !important;
    }
}
