:host {
    display: block;
}

.delegate {
    border-radius: 0.5rem;

    &:hover {
        cursor: pointer;
    }

    &:not(.flexible-layout) {
        min-height: 81px;
    }

    &.lg-layout {
        min-height: 101px;
    }
}

.governance-url {
    color: gray !important;
    padding-top: 3px;
}

.missing-governance-url {
    padding-top: 4px;
}
