:host {
    display: block;
}

.delegate-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 12px 14px;
    justify-content: center;
}

.hide-scroll {
    max-height: none;
}
