@import 'theming';

@mixin delegate-item-theme($theme) {
    $config: mat-get-color-config($theme);
    $primary: map-get($config, primary);
    $accent: map-get($config, accent);
    $foreground: map-get($config, foreground);
    $background: map-get($config, background);

    .delegate {
        border: 1px solid mat-color($foreground, divider, 0.2);
        background-color: mat-color($background, card);

        &:hover {
            border: 1px solid mat-color($accent);
        }
    }

    .delegate-item_selected {
        border-color: mat-color($primary);
    }
}
