<!-- t(event.cta.AUCTION_BID_EVENT) -->
<!-- t(event.cta.AUCTION_BID_EVENT_ALT) -->
<!-- t(event.cta.AUCTION_SETTLE_EVENT) -->
<!-- t(event.cta.AUCTION_END_EVENT) -->
<!-- t(event.cta.AUCTION_END_EVENT_ALT) -->
<!-- t(event.cta.DOMAIN_BUY_EVENT) -->
<!-- t(event.cta.DOMAIN_GRANT_EVENT) -->
<!-- t(event.cta.DOMAIN_RENEW_EVENT) -->
<!-- t(event.cta.DOMAIN_UPDATE_EVENT) -->
<!-- t(event.cta.DOMAIN_SET_CHILD_RECORD_EVENT) -->
<!-- t(event.cta.DOMAIN_SET_CHILD_RECORD_EVENT_ALT) -->
<!-- t(event.cta.REVERSE_RECORD_CLAIM_EVENT) -->
<!-- t(event.cta.REVERSE_RECORD_CLAIM_EVENT_ALT) -->
<!-- t(event.cta.REVERSE_RECORD_UPDATE_EVENT) -->
<!-- t(event.cta.REVERSE_RECORD_UPDATE_EVENT_ALT) -->
<ng-container *transloco="let t">
    <button *ngIf="action && buttonStyle === 'flat'" mat-flat-button color="primary" (click)="action()">
        {{ t('event.cta.' + type) }}
    </button>
    <button *ngIf="action && buttonStyle === 'stroked'" mat-stroked-button (click)="action()">{{ t('event.cta.' + type) }}</button>
</ng-container>
