:host {
    display: block;
}

.table {
    flex: 1 0 700px;
    min-width: 700px;
}

.col-when {
    flex: 0 0 150px;
    min-width: 150px;
}

.col-amount {
    flex: 0 0 120px;
    min-width: 120px;
}
