@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

.offer-info {
    flex: 0 0 170px;
    min-width: 170px;
}

@include media-breakpoint-down(sm) {
    .offer-info {
        flex: auto;
    }
}
