@import 'theming';

@mixin action-input-theme($theme) {
    $config: mat-get-color-config($theme);
    $primary: map-get($config, primary);
    $foreground: map-get($config, foreground);
    $background: map-get($config, background);

    .action-input-container {
        .input-container {
            border: 1px solid mat-color($foreground, divider);
            background-color: mat-color($background, card);

            &.focused {
                border: 1px solid mat-color($primary);
            }

            input {
                color: mat-color($foreground, text);
                background-color: mat-color($background, card);
            }
        }
    }
}
