.action-input-container {
    width: 100%;
    height: 36px;
    position: relative;

    .input-container {
        width: 100%;
        border-radius: 4px 0 0 4px;
        padding: 3px 6px;

        input {
            padding: 2px 1px;
            margin-left: 4px;
            border: 0;
            font-size: 16px;
            border-radius: 4px 0 0 4px;
            width: 100%;
            line-height: 24px;
        }
    }

    button {
        font-size: 16px;
        height: 36px;
        border-radius: 0 4px 4px 0;
        border-left: 0;
    }

    input[type='search']::-webkit-search-decoration,
    input[type='search']::-webkit-search-cancel-button,
    input[type='search']::-webkit-search-results-button,
    input[type='search']::-webkit-search-results-decoration {
        -webkit-appearance: none;
    }
}
