@import 'theming';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

.badge-button {
    padding: 0 0.15rem;
    height: 21px;
    cursor: pointer;

    @include media-breakpoint-up(md) {
        .ng-fa-icon {
            margin-right: 0.5rem;

            &.tight {
                margin-right: 0.25em;
            }
        }
    }
}

::ng-deep .badge.disabled {
    .badge-button {
        cursor: default;
    }
}
