.advanced-select-value::ng-deep {
    .mat-button-wrapper {
        display: flex;
        width: 100%;
    }
}

.advanced-select-option {
    div {
        width: 208px;

        &.built-in {
            width: 100%;
        }
    }
}
