.badge {
    border-radius: 4px;
    position: relative;

    .badge-content {
        font-size: 14px;
        line-height: initial;
        padding: 0 0.25em;
    }

    &:hover .badge-focus-overlay {
        opacity: 0.04;
    }
}

.badge-focus-overlay {
    opacity: 0;
    pointer-events: none;
    border-radius: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}
