@import 'theming';

@mixin badge-theme($theme) {
    $config: mat-get-color-config($theme);
    $accent: map-get($config, accent);
    $background: map-get($config, background);
    $foreground: map-get($config, foreground);

    $types: (
        primary: 'primary',
        accent: 'accent',
        info: 'info',
        warning: 'warning',
        danger: 'error',
        success: 'success',
    );

    .badge {
        @each $type, $paletteName in $types {
            $palette: map-get($config, $paletteName);

            &.badge-#{$type} {
                color: mat-color($palette, default-contrast);
                background-color: mat-color($palette);

                &.disabled {
                    color: mat-color($foreground, disabled-button);
                    background-color: mat-color($background, disabled-button);
                }
            }
        }

        .badge-focus-overlay {
            background-color: mat-color($background, focused-button, 1);
        }

        &.disabled {
            .badge-focus-overlay {
                background-color: transparent;
            }
        }
    }
}
