@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

// @import '~bootstrap/scss/mixins/breakpoints';

pre {
    margin-bottom: 0;
}

@include media-breakpoint-up(sm) {
    .data-key {
        flex-basis: 150px;
    }
}

.data-value {
    .data-value-string {
        line-height: 24px;
    }
}
