@import 'theming';

@mixin divider-with-text-theme($theme) {
    $config: mat-get-color-config($theme);
    $foreground: map-get($config, foreground);

    .dividerwithtext-text {
        color: mat-color($foreground, text, 0.9);
    }
}
