:host {
    height: 40px;
    overflow: hidden;
    position: relative;
    display: block;

    &.fade-right,
    &.fade-both {
        &::after {
            content: '';
            height: 100%;
            width: 25px;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
        }
    }

    &.fade-left,
    &.fade-both {
        &::before {
            content: '';
            height: 100%;
            width: 25px;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
        }
    }

    .horizontal-scroll {
        overflow-x: auto;
        overflow-y: hidden;
        height: 50px;
    }
}
