@import 'theming';

@mixin horizontal-scroll-theme($theme) {
    $config: mat-get-color-config($theme);
    $background: map-get($config, background);
    $foreground: map-get($config, foreground);

    .fade-right,
    .fade-both {
        &::after {
            background: mat-color($background, background);
            background: linear-gradient(
                90deg,
                mat-color($background, background, 0) 0%,
                mat-color($background, background) 50%,
                mat-color($background, background) 100%
            );
        }
    }

    .fade-left,
    .fade-both {
        &::before {
            background: mat-color($background, background);
            background: linear-gradient(
                90deg,
                mat-color($background, background) 0%,
                mat-color($background, background) 50%,
                mat-color($background, background, 0) 100%
            );
        }
    }
}
