:host {
    display: flex;
}

img {
    overflow: hidden;
    box-shadow: inset #ffffff33 0 2px 2px, inset rgba(0, 0, 0, 0.3) 0 -1px 8px;
    border-radius: 50%;
}
div {
    background-image: url('/assets/img/identicon_placeholder.png');
    background-size: contain;
    border-radius: 50%;
}
