.money-input-container {
    width: 100%;
    height: 60px;
    border-radius: 0.5rem;

    &:not(.display-only) {
        margin-bottom: 1rem;
    }

    &.display-only {
        .input-container {
            padding-left: 8px;
        }
    }

    .input-label {
        padding: 6px 10px 2px 10px;
        user-select: none;
    }

    .input-container {
        width: 100%;
        padding: 2px 6px 6px 6px;
        font-size: 18px;

        input {
            padding: 2px 1px;
            margin-left: 4px;
            border: 0;
            width: 100%;

            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }

        ::ng-deep .usd-value {
            font-size: 16px;
        }
    }
}
