@import 'theming';

@mixin money-input-theme($theme) {
    $config: mat-get-color-config($theme);
    $primary: map-get($config, primary);
    $error: map-get($config, error);
    $foreground: map-get($config, foreground);
    $background: map-get($config, background);

    .money-input-container {
        border: 1px solid mat-color($foreground, divider);
        background-color: mat-color($background, card);

        &.focused {
            border: 1px solid mat-color($primary);
        }

        &.invalid {
            border: 1px solid mat-color($error);

            .input-label {
                color: mat-color($error);
            }
        }

        input {
            color: mat-color($foreground, text);
            background-color: mat-color($background, card);
        }
    }
}
