:host {
    display: block;
}

.fav-container {
    color: #7587b1;
    padding: 10px;

    &:hover {
        cursor: pointer;
    }

    .fav-heart {
        display: block;
    }

    .fav-heart-solid {
        display: none;
    }

    &.selected {
        display: block;
        .fav-heart-solid {
            display: block;
            color: #5479f0;
        }
        .fav-heart {
            display: none;
        }
    }
}
