@use '@angular/material' as mat;

@import '../theme';
@import '../palette';

mat.$theme-ignore-duplication-warnings: true;

$primary-palette: mat-palette($mat-td-bright-blue);
$accent-palette: mat-palette($mat-td-pale-blue);
$success-palette: mat-palette($mat-td-pale-green);
$warning-palette: mat-palette($mat-td-pale-yellow);
$error-palette: mat-palette($mat-td-pale-red);
$info-palette: mat-palette($mat-td-bright-blue);

$theme: (
    color: (
        primary: $primary-palette,
        accent: $accent-palette,
        warn: $error-palette,
        success: $success-palette,
        error: $error-palette,
        warning: $warning-palette,
        info: $info-palette,
        is-dark: false,
        background:
            map-merge(
                $mat-light-theme-background,
                (
                    background: #fbfdfe,
                    app-bar: white,
                    scrollbar: #6e6e6e,
                )
            ),
        foreground:
            map-merge(
                $mat-light-theme-foreground,
                (
                    text: #1b2a4e,
                    faded-text: #506690,
                    shadow-border: #edf2f9,
                    shadow: rgba(18, 38, 63, 0.03),
                    app-bar-border: #e5e9ef,
                    scrollbar: #444444,
                )
            ),
    ),
);

@include td-theme($theme);

$slide-toggle-dark-theme: mat.define-dark-theme(
    (
        color: (
            primary: mat.define-palette(mat-palette($mat-td-bright-blue)),
            accent: mat.define-palette(mat-palette($mat-td-pale-blue)),
        ),
    )
);

$dark_primary-palette: mat-palette($mat-td-dm-blue);
$dark_accent-palette: mat-palette($mat-gray);
$dark_success-palette: mat-palette($mat-green, 500);
$dark_warning-palette: mat-palette($mat-amber, 900);
$dark_error-palette: mat-palette($mat-red);
$dark_info-palette: mat-palette($mat-light-blue, 400);

$dark-theme: (
    color: (
        primary: $dark_primary-palette,
        accent: $dark_accent-palette,
        warn: $dark_error-palette,
        success: $dark_success-palette,
        error: $dark_error-palette,
        warning: $dark_warning-palette,
        info: $dark_info-palette,
        is-dark: true,
        background:
            map-merge(
                $mat-dark-theme-background,
                (
                    background: #212121,
                    app-bar: #303030,
                    scrollbar: #6e6e6e,
                    card: #303030,
                    dialog: #303030,
                )
            ),
        foreground:
            map-merge(
                $mat-dark-theme-foreground,
                (
                    shadow-border: rgba(white, 0.1),
                    shadow: rgba(18, 38, 63, 0.03),
                    app-bar-border: rgba(white, 0.1),
                    scrollbar: #444444,
                    faded-text: #aaa,
                    text: #f1f1f1,
                )
            ),
    ),
);

.dark-mode {
    @include td-theme-dark($dark-theme, $slide-toggle-dark-theme);
}
