* {
    &:active,
    :focus {
        outline: none !important;
    }
}

a,
a:hover,
a:active {
    text-decoration: none;
}

.mat-typography {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0 0 10px;
    }
}

.fw-500 {
    font-weight: 500 !important;
}
