@import 'theming';

@mixin global-theme($theme) {
    $config: mat-get-color-config($theme);
    $background: map-get($config, background);
    $foreground: map-get($config, foreground);
    $primary: map-get($config, primary);

    body {
        background-color: mat-color($background, background);
        color: mat-color($foreground, text);
    }

    a:not(.mat-button-base):not(.mat-menu-item):not(.toast-message a):not(.txt-secondary) {
        color: mat-color($primary);

        &:hover {
            color: mat-color($primary, darker);
        }
    }

    a.mat-button-base:not(.mat-primary) {
        color: mat-color($foreground, text);

        &:hover {
            color: mat-color($foreground, text);
        }
    }
}

@mixin global-theme-dark($theme) {
    $config: mat-get-color-config($theme);
    $background: map-get($config, background);
    $foreground: map-get($config, foreground);
    $primary: map-get($config, primary);

    body {
        background-color: mat-color($background, background);
        color: mat-color($foreground, text);
    }

    ngx-skeleton-loader .skeleton-loader {
        background: mat-color($background, scrollbar) no-repeat !important;

        &.progress {
            &:before {
                background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.2), transparent) !important;
            }
        }
    }

    a:not(.mat-button-base):not(.mat-menu-item):not(.toast-message a):not(.txt-secondary) {
        color: mat-color($primary, 300);

        &:hover {
            color: mat-color($primary);
        }
    }

    a.mat-button-base:not(.mat-primary) {
        color: mat-color($foreground, text);

        &:hover {
            color: mat-color($foreground, text);
        }
    }
}
