$mat-td-bright-blue: (
    50: rgb(231, 236, 252),
    100: rgb(194, 207, 249),
    200: rgb(153, 175, 245),
    300: rgb(112, 142, 240),
    400: rgb(82, 118, 237),
    500: rgb(51, 94, 234),
    600: rgb(46, 86, 231),
    700: rgb(39, 76, 228),
    800: rgb(32, 66, 225),
    900: rgb(20, 49, 219),
    A100: rgb(255, 255, 255),
    A200: rgb(216, 220, 255),
    A400: rgb(165, 175, 255),
    A700: rgb(139, 153, 255),
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $dark-primary-text,
        400: $dark-primary-text,
        500: $light-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $light-primary-text,
        A400: $light-primary-text,
        A700: $light-primary-text,
    ),
);

$mat-td-pale-blue: (
    50: #edf1fd,
    100: #d3dcf9,
    200: #b6c5f6,
    300: #98adf2,
    400: #829cef,
    500: #6c8aec,
    600: #6482ea,
    700: #5977e7,
    800: #4f6de4,
    900: #3d5adf,
    A100: #ffffff,
    A200: #f9faff,
    A400: #c6d0ff,
    A700: #adbaff,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $dark-primary-text,
        400: $dark-primary-text,
        500: $light-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $dark-primary-text,
        A400: $dark-primary-text,
        A700: $dark-primary-text,
    ),
);

$mat-td-dm-blue: (
    50: #eaeffd,
    100: #ccd7fb,
    200: #aabcf8,
    300: #87a1f5,
    400: #6e8df2,
    500: #5479f0,
    600: #4d71ee,
    700: #4366ec,
    800: #3a5ce9,
    900: #2949e5,
    A100: #ffffff,
    A200: #f0f2ff,
    A400: #bdc7ff,
    A700: #a3b1ff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

$mat-td-pale-yellow: (
    50: #fefaef,
    100: #fef3d6,
    200: #fdebbb,
    300: #fce39f,
    400: #fbdd8b,
    500: #fad776,
    600: #f9d36e,
    700: #f9cd63,
    800: #f8c759,
    900: #f6be46,
    A100: #ffffff,
    A200: #ffffff,
    A400: #fff6e5,
    A700: #ffeecb,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #000000,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

$mat-td-blueish: (
    50: #e5f6fe,
    100: #bfe9fc,
    200: #94dbfb,
    300: #69ccf9,
    400: #49c1f7,
    500: #29b6f6,
    600: #24aff5,
    700: #1fa6f3,
    800: #199ef2,
    900: #0f8eef,
    A100: #ffffff,
    A200: #e8f4ff,
    A400: #b5dcff,
    A700: #9cd1ff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

$mat-td-pale-red: (
    50: #fbe9eb,
    100: #f5c8cd,
    200: #efa3ac,
    300: #e97e8b,
    400: #e46372,
    500: #df4759,
    600: #db4051,
    700: #d73748,
    800: #d22f3e,
    900: #ca202e,
    A100: #ffffff,
    A200: #ffcfd3,
    A400: #ff9ca3,
    A700: #ff838b,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

$mat-td-pale-green: (
    50: #e8f7f2,
    100: #c6eae0,
    200: #a1ddcb,
    300: #7bcfb6,
    400: #5ec4a6,
    500: #42ba96,
    600: #3cb38e,
    700: #33ab83,
    800: #2ba379,
    900: #1d9468,
    A100: #ceffeb,
    A200: #9bffd7,
    A400: #68ffc3,
    A700: #4effb9,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);
