@use '@angular/material' as mat;

@import 'theming';
@import './global.theme';
@import './utils/colors.theme';
@import './utils/shadow.theme';
@import './modules/alert.theme';
@import './modules/message.theme';
@import './modules/scrollbar.theme';
@import './modules/button.theme';
@import './modules/card.theme';
@import './modules/toast.theme';
@import './modules/form.theme';
@import './modules/stepper.theme';
@import './modules/table.theme';
@import './modules/expansion-panel.theme';
@import './modules/tooltip.theme';
@import '../app/domains/auction.component.theme.scss';
@import '../app/domains/bulk-renew.component.theme';
@import '../app/shared/badge.component.theme.scss';
@import '../app/shared/action-input.component.theme.scss';
@import '../app/shared/money-input.component.theme.scss';
@import '../app/layout/top-nav.component.theme.scss';
@import '../app/layout/account-widget.component.theme.scss';
@import '../app/delegation/delegate-item.component.theme.scss';
@import '../app/delegation/delegates-board.component.theme.scss';
@import '../app/airdrop/delegate-list.component.theme.scss';
@import '../app/airdrop/tokens.component.theme.scss';
@import '../app/gv-pool/pool-widget.theme.scss';
@import '../app/layout/global-announcement.component.theme.scss';
@import '../app/address/title.component.theme.scss';
@import '../app/shared/divider-with-text.component.theme.scss';
@import '../app/shared/horizontal-scroll.component.theme.scss';

@mixin td-theme-common($theme) {
    @include angular-material-theme($theme);

    @include global-theme($theme);
    @include colors-theme($theme);
    @include card-theme($theme);
    @include button-theme($theme);
    @include shadow-theme($theme);
    @include alert-theme($theme);
    @include message-theme($theme);
    @include toast-theme($theme);
    @include scrollbar-theme($theme);
    @include form-theme($theme);
    @include table-theme($theme);
    @include expansion-panel-theme($theme);
    @include topnav-theme($theme);
    @include global-announcement-theme($theme);
    @include account-widget-theme($theme);
    @include badge-theme($theme);
    @include action-input-theme($theme);
    @include money-input-theme($theme);
    @include tokens-container-theme($theme);
    @include delegate-item-theme($theme);
    @include delegate-list-theme($theme);
    @include stepper-theme($theme);
    @include auction-theme($theme);
    @include title-theme($theme);
    @include bulk-renew-theme($theme);
    @include divider-with-text-theme($theme);
    @include horizontal-scroll-theme($theme);
    @include tooltip-theme($theme);
    @include poolwidget-theme($theme);
    @include delegate-board-theme($theme);
}

@mixin td-theme($theme) {
    @include td-theme-common($theme);
    @include global-theme($theme);
    @include stepper-theme($theme);
}

@mixin td-theme-dark($theme, $slide-toggle-dark-theme) {
    @include td-theme-common($theme);

    @include mat.slide-toggle-color($slide-toggle-dark-theme);

    @include global-theme-dark($theme);
    @include stepper-theme-dark($theme);
}
