@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

.actions {
    border-radius: 8px;

    h3 {
        margin: 0;
    }
}

.desc-header {
    flex: 0 0 150px;
}

@include media-breakpoint-down(md) {
    .desc-header {
        flex: auto;
    }
}
