@import 'theming';

@mixin auction-theme($theme) {
    $config: mat-get-color-config($theme);
    $foreground: map-get($config, foreground);

    .actions {
        border: 3px solid mat-color($foreground, divider);
    }
}
