@import 'theming';

@mixin bulk-renew-theme($theme) {
    $config: mat-get-color-config($theme);
    $error: map-get($config, error);

    td-bulk-renew {
        .alert-icon {
            color: mat-color($error);
        }
    }
}
