@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

.subdomain-table::ng-deep .table-filter {
    padding: 0 1rem;
}

.sell-domain-wrapper {
    display: inline-block;
}

.description {
    flex: 0 0 170px;
    align-items: center;
}

@include media-breakpoint-down(sm) {
    .description {
        flex: auto;
    }
}
