.categories-button {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;

    .category-button {
        min-width: 110px;
    }
}

.table {
    flex: 1 0 500px;
    min-width: 500px;
}

.col-selection {
    flex: 0 0 50px;
}

.col-expires {
    flex: 0 0 120px;
}

.col-actions {
    flex: 0 0 120px;
}

::ng-deep label {
    margin-bottom: 0;
}
