@import 'theming';

@mixin colors-theme($theme) {
    $config: mat-get-color-config($theme);
    $primary: map-get($config, primary);
    $accent: map-get($config, accent);
    $info: map-get($config, info);
    $warning: map-get($config, warning);
    $error: map-get($config, error);
    $success: map-get($config, success);
    $foreground: map-get($config, foreground);

    .txt-success {
        color: mat-color($success);
    }

    .txt-danger {
        color: mat-color($error);
    }

    .txt-warning {
        color: mat-color($warning, 900);
    }

    .txt-info {
        color: mat-color($info);
    }

    .txt-secondary {
        color: mat-color($foreground, faded-text);
    }

    .accent {
        color: mat-color($accent);
    }

    .primary {
        color: mat-color($primary);
    }

    .icon-warning {
        color: mat-color($warning);
    }
}
