@import 'theming';

@mixin shadow-theme($theme) {
    $config: mat-get-color-config($theme);
    $foreground: map-get($config, foreground);
    $background: map-get($config, background);

    @if map-get($config, is-dark) {
        .smooth-shadow {
            background-clip: border-box;
            border-radius: 0.5rem;
            box-shadow: none;
            border: 1px solid mat-color($foreground, shadow-border);
        }
    } @else {
        .smooth-shadow {
            box-shadow: 0 0.75rem 1.5rem mat-color($foreground, shadow);
            background-clip: border-box;
            border: 1px solid mat-color($foreground, shadow-border);
            border-radius: 0.5rem;
        }
    }
}
