.text-wrap {
    word-break: break-word;
}

.text-monospace {
    font-family: Roboto Mono, monospace;
}

.txt-sm {
    font-size: 12px;
}

.txt-lg {
    font-size: 16px;
}

.txt-xl {
    font-size: 18px;
}
