@import 'theming';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

div.main {
    overflow-y: auto;
    overflow-x: hidden;
}
.top-bar,
.global-announcement {
    z-index: 2;
    display: block;
    position: sticky;
    top: 0px;
}

div.page {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    @include media-breakpoint-up(xl) {
        width: 1000px;
        margin: auto;
    }

    @include media-breakpoint-only(lg) {
        padding: 1.5rem;
    }

    @include media-breakpoint-down(lg) {
        padding: 1.5rem 0.75rem;
    }
}

::ng-deep body.wide {
    div.page {
        @include media-breakpoint-up(xl) {
            width: auto;
            margin: 0 4rem;
        }
    }
}

::ng-deep [hidden] {
    display: none !important;
}
