@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

:host {
    display: block;

    &::ng-deep .mat-horizontal-stepper-header-container {
        display: none !important;
    }

    &::ng-deep .mat-horizontal-content-container {
        padding: 0 !important;
    }
}

.bold {
    font-weight: 500;
}

.font-16 {
    font-size: 16px;
}

.flex-50 {
    flex: 1 1 100%;
    max-width: 50%;
}

@include media-breakpoint-down(md) {
    .flex-50 {
        max-width: initial;
    }
}
