<ng-container *transloco="let t">
    <td-constitution-stepper (approvalChange)="approvalChange.next($event)" #stepper (exit)="back.next()">
        <cdk-step>
            <ng-template cdkStepLabel>{{ t('airdrop.constitution.intro.title') }}</ng-template>
            <h2 class="fw-500">{{ t('airdrop.constitution.intro.subtitle') }}</h2>
            <div class="mb-3">
                {{ t('airdrop.constitution.intro.text1') }}
            </div>
            <div class="mb-3">{{ t('airdrop.constitution.intro.text2') }}</div>
            <div class="mb-3">{{ t('airdrop.constitution.intro.text3') }}</div>
            <div class="mb-2">{{ t('airdrop.constitution.intro.text4') }}</div>
        </cdk-step>
        <cdk-step>
            <ng-template cdkStepLabel>{{ t('airdrop.constitution.article1.title') }}</ng-template>
            <h2 class="fw-500">{{ t('airdrop.constitution.article1.subtitle') }}</h2>
            <div>
                {{ t('airdrop.constitution.article1.text1') }}
            </div>
            <div class="message success mt-3">
                <div class="message_title fw-500">{{ t('airdrop.constitution.permissible') }}</div>
                <div>
                    {{ t('airdrop.constitution.article1.ok') }}
                </div>
            </div>
            <div class="message danger mt-3">
                <div class="fw-500 message_title">{{ t('airdrop.constitution.not-permissible') }}</div>
                <div>
                    {{ t('airdrop.constitution.article1.not-ok') }}
                </div>
            </div>
        </cdk-step>
        <cdk-step>
            <ng-template cdkStepLabel>{{ t('airdrop.constitution.article2.title') }}</ng-template>
            <h2 class="fw-500">{{ t('airdrop.constitution.article2.subtitle') }}</h2>
            <div>
                {{ t('airdrop.constitution.article2.text1') }}
            </div>
            <div class="message success mt-3">
                <div class="message_title fw-500">{{ t('airdrop.constitution.permissible') }}</div>
                <div>
                    {{ t('airdrop.constitution.article2.ok') }}
                </div>
            </div>
            <div class="message danger mt-3">
                <div class="fw-500 message_title">{{ t('airdrop.constitution.not-permissible') }}</div>
                <div>
                    {{ t('airdrop.constitution.article2.not-ok') }}
                </div>
            </div>
        </cdk-step>
        <cdk-step>
            <ng-template cdkStepLabel>{{ t('airdrop.constitution.article3.title') }}</ng-template>
            <h2 class="fw-500">{{ t('airdrop.constitution.article3.subtitle') }}</h2>
            <div>
                {{ t('airdrop.constitution.article3.text1') }}
            </div>
            <div class="message success mt-3">
                <div class="message_title fw-500">{{ t('airdrop.constitution.permissible') }}</div>
                <div>
                    {{ t('airdrop.constitution.article3.ok') }}
                </div>
            </div>
            <div class="message danger mt-3">
                <div class="fw-500 message_title">{{ t('airdrop.constitution.not-permissible') }}</div>
                <div>
                    {{ t('airdrop.constitution.article3.not-ok') }}
                </div>
            </div>
        </cdk-step>
        <cdk-step>
            <ng-template cdkStepLabel>{{ t('airdrop.constitution.article4.title') }}</ng-template>
            <h2 class="fw-500">{{ t('airdrop.constitution.article4.subtitle') }}</h2>
            <div>
                {{ t('airdrop.constitution.article4.text1') }}
            </div>
            <div class="message success mt-3">
                <div class="message_title fw-500">{{ t('airdrop.constitution.permissible') }}</div>
                <div>{{ t('airdrop.constitution.article4.ok') }}</div>
            </div>

            <div class="message danger mt-3">
                <div class="fw-500 message_title">{{ t('airdrop.constitution.not-permissible') }}</div>
                <div>
                    {{ t('airdrop.constitution.article4.not-ok') }}
                </div>
            </div>
        </cdk-step>
    </td-constitution-stepper>
</ng-container>
