<ng-container *transloco="let t">
    <div class="d-flex flex-column">
        <header class="d-flex d-flex align-items-center pb-2">
            <h1 class="fw-500 flex-grow-1">
                <ng-container [ngTemplateOutlet]="selected!.stepLabel.template"></ng-container>
            </h1>
            <mat-progress-bar *ngIf="selectedIndex" [value]="progressValue" color="primary"></mat-progress-bar>
        </header>
        <mat-divider class="mb-3"></mat-divider>
        <div [style.display]="selected ? 'block' : 'none'">
            <ng-container [ngTemplateOutlet]="selected!.content"></ng-container>
        </div>

        <footer class="step-navigation-bar mt-4 d-flex justify-content-center align-items-end gap-3">
            <button mat-flat-button (click)="onPrevStep()">{{ t('actions.back') }}</button>
            <div *ngIf="selectedIndex === 0">
                <button mat-flat-button color="primary" cdkStepperNext>{{ t('actions.start') }}</button>
            </div>
            <div class="d-flex flex-gap-3" *ngIf="selectedIndex >= 1">
                <button mat-flat-button color="warn" (click)="reject()">{{ t('actions.reject') }}</button>
                <button mat-flat-button color="primary" (click)="onNextStep()">{{ t('actions.approve') }}</button>
            </div>
        </footer>
    </div>
</ng-container>
