:host {
    display: block;
}

.delegate-execute {
    min-height: 40px;
}

.delegate-info {
    min-height: 40px;
}

/* acccordion */
.delegate-step {
    &:first-child {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    &:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    & + & {
        border-top: none;
    }
}

.wrap-mat-radio-label {
    white-space: normal;
}
