<ng-container *transloco="let t">
    <div class="d-flex flex-column flex-sm-row">
        <div class="d-flex align-items-center flex-grow-1 delegate-info">
            <div class="me-3" *ngIf="!selected" [tdDynamicHtml]="t('airdrop.delegate-list.delegate-selected', { amount: claim.amount | formatMutez })"></div>
            <div class="me-3" *ngIf="selected" [tdDynamicHtml]="t('airdrop.delegate-list.delegate-not-selected', { amount: claim.amount | formatMutez })"></div>
            <td-address
                *ngIf="selected"
                [address]="selected.address"
                [reverseRecord]="selected.domain ? selected : null"
                [resolveReverseRecord]="!selected.domain"
                [shorten]="true"
            ></td-address>
        </div>
        <button mat-flat-button *ngIf="selected" (click)="clear.next()" [disabled]="disabled">{{ t('actions.clear') }}</button>
    </div>
</ng-container>
