/* acccordion */

@import 'theming';

@mixin delegate-list-theme($theme) {
    $config: mat-get-color-config($theme);
    $foreground: map-get($config, foreground);

    .delegate-step {
        border: 1px solid mat-color($foreground, divider, 0.2);
    }
}
