.tokens-container {
    width: 100%;
    height: 60px;
    border-radius: 0.5rem;

    .input-container {
        padding-left: 8px;
    }

    .input-label {
        padding: 6px 10px 2px 10px;
        user-select: none;
    }

    .input-container {
        width: 100%;
        padding: 2px 6px 6px 10px;
        font-size: 18px;
    }
}
