@import 'theming';

@mixin tokens-container-theme($theme) {
    $config: mat-get-color-config($theme);
    $foreground: map-get($config, foreground);
    $background: map-get($config, background);

    .tokens-container {
        border: 1px solid mat-color($foreground, divider);
        background-color: mat-color($background, card);
    }
}
