:host {
    display: block;
    font-size: 1rem;
    line-height: 1.5rem;
}

.account-widget {
    height: 2.25rem;
    border-radius: 0.5rem;
    padding-right: 1px;
    cursor: pointer;
}

.account-name {
    line-height: 1.875rem;
    border-radius: 0.5rem;
    padding: 0 0.5rem;
    max-width: 12rem;
}

.account-balance {
    padding: 0 0.5rem;
}

.account-widget-divider {
    height: 1.375rem;
}

.avatar {
    cursor: pointer;
}
