.account-content {
    .balance {
        margin-left: 2.5rem;
    }

    .tabs {
        overflow-y: auto;
    }
}

.mat-dialog-actions {
    margin-bottom: -14px;
}

.wallet-logo {
    width: 24px;
}
