@import 'theming';

@mixin account-widget-theme($theme) {
    $config: mat-get-color-config($theme);
    $primary: map-get($config, primary);
    $foreground: map-get($config, foreground);
    $background: map-get($config, background);

    .account-widget {
        border: 1px solid mat-color($foreground, divider);
        background-color: mat-color($background, card);

        &:hover {
            border: 1px solid mat-color($primary);
        }
    }

    .account-widget-divider {
        border-left: 1px solid mat-color($foreground, divider);
    }
}
