@import 'theming';

@mixin global-announcement-theme($theme) {
    $config: mat-get-color-config($theme);
    $primary: map-get($config, primary);
    $foreground: map-get($config, foreground);
    $background: map-get($config, background);

    .global-announcement {
        background-color: #7c69ef; //mat-color($primary);

        a {
            color: white !important;
        }
    }
}
