<ng-container *transloco="let t">
    <div class="global-announcement d-flex align-items-center justify-content-center h-100">
        <a href="https://blog.tezos.domains/1-2-character-name-auctions-052c5dd6c973" target="_blank">
            {{ t('general.character-announcement') }} <fa-icon icon="external-link-alt"></fa-icon>
        </a>
    </div>
</ng-container>
