@import 'theming';

@mixin topnav-theme($theme) {
    $config: mat-get-color-config($theme);
    $foreground: map-get($config, foreground);
    $accent: map-get($config, accent);
    $primary: map-get($config, primary);

    .navbar {
        border-bottom: 1px solid mat-color($foreground, app-bar-border);
    }
}
