@import 'theming';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

.navbar {
    .logo {
        position: relative;

        img {
            height: 40px;
        }

        .network-badge {
            position: absolute;
            top: 30px;
            right: 8px;

            @include media-breakpoint-only(xs) {
                top: 28px;
                left: -4px;
                right: auto;
            }
        }
    }

    .inner {
        width: 100%;
        padding: 0 4rem;

        @include media-breakpoint-down(xl) {
            padding: 0 1rem;
        }

        @include media-breakpoint-up(xl) {
            margin: auto;
        }

        @include media-breakpoint-only(xs) {
            padding: 0 0.75rem;
        }
    }

    .avatar {
        cursor: pointer;
    }

    @include media-breakpoint-up(sm) {
        .full-searchbar {
            margin: 0 2rem;
        }
    }
}
