:host {
    display: block;
}

::ng-deep .address-filter-menu {
    &.mat-menu-panel {
        max-width: none;
    }

    mat-form-field {
        width: 280px;
    }

    .mat-menu-content {
        padding: 0;
    }
}
