:host {
    display: block;
}

.hidden-date-input {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: none;
    visibility: hidden;

    mat-date-range-input {
        line-height: 36px; // match button height in order to show datepicker below the button
    }
}
