:host {
    display: block;
}

::ng-deep .highlighted-stroked .ng-fa-icon {
    margin: 0 !important;
}

::ng-deep .price-filter-menu {
    &.mat-menu-panel {
        max-width: none;
    }

    .mat-menu-content {
        padding: 0;
    }
}
