:host {
    display: block;
}

.select-button {
    position: relative;
}

td-divider-with-text {
    display: block;
}

::ng-deep .eventtype-filter-menu .mat-list-base .mat-list-item {
    height: 40px;
}
