@import 'theming';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

:host {
    display: block;
}

.graphic {
    img {
        height: 300px;
        opacity: 0.9;
    }
}

.cta-content {
    max-width: 550px;

    @include media-breakpoint-up(lg) {
        padding-left: 2.5em;
    }
}
