<div *transloco="let t" class="card smooth-shadow home-item" [hidden]="(auctions.empty$ | async) !== false" [ngClass]="{ empty: auctions.empty$ | async }">
    <h2>{{ t('home.auctions-title') }}</h2>

    <td-auction-summary-table #auctions class="full-card-width" [noShadow]="true" [address]="wallet.address"></td-auction-summary-table>
</div>
