<div *transloco="let t" class="card smooth-shadow home-item" [hidden]="(domains.empty$ | async) !== false" [ngClass]="{ empty: domains.empty$ | async }">
    <h2>{{ t('home.domains-title') }}</h2>

    <td-domain-summary-table #domains class="full-card-width" [noShadow]="true" [address]="wallet.address"></td-domain-summary-table>
</div>
