:host {
    display: block;
}

.expiration-row {
    margin-top: -28px;
    font-size: 13px;
    padding-bottom: 4px;
    padding-top: 4px;
}

.hide-overflow {
    min-width: 1%;
}
.avatar-container {
    position: relative;

    td-star.right {
        position: absolute;
        bottom: -20px;
        right: -20px;
    }
}
