:host {
    display: block;
}
.categories-button {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;

    .category-button {
        min-width: 110px;
    }
}

.table {
    flex: 1 0 700px;
    min-width: 700px;
}

.col-selection {
    flex: 0 0 50px;
}

.col-time {
    flex: 0 0 150px;
}

.col-actions {
    flex: 0 0 185px;
}

.col-amount {
    flex: 0 0 120px;
}

.col-status {
    flex: 0 0 120px;
}
