@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

.settings-input::ng-deep {
    div.mat-form-field-infix {
        padding: 0.5em 0 1em 0;
    }

    div.mat-form-field-wrapper {
        margin: 0;
        padding: 0;
    }
}

.single-setting {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.single-setting__text {
    flex: auto;
}

@include media-breakpoint-up(md) {
    .single-setting {
        flex-direction: row;
        align-items: center;
    }

    .single-setting__text {
        flex: 0 0 200px;
    }
}
